<div class="jumbotron jumbotron-fluid, animated fadeIn">
    <div class="container">
      <h1 class="display-4">Musical Hendrix</h1>
      <p class="lead"> Es una tienda de instrumentos musicales con ya más de 15 años de experiencia.</p>
      <p> Tenemos el conocimiento y la capacidad como para informarte acerca de las mejores elecciones para tu compra musical.</p>
      <button  class="btn btn-info" [routerLink]="['/instrumentos']">Conoce nuestros productos</button>
    </div>
    <div class="container" >

    <div class="card" fluid alt="Responsive image">
      <img src="../assets/images/local.jpg" class="card-img-top" >
    </div>
  </div>
  </div>